.banner
  display: flex
  min-height: 1124px
  width: 100%


  +large-down
    background-size: contain

  .container
    padding-top: 60px
    margin-top: -120px
    background:
      color: transparent
      image: url("../images/content/banner_bg.png")
      size: 100%
      repeat: no-repeat
      position: center top
    +large-down
      min-height: 784px

.main-title
  font-family: $font_KZExo2_Thin
  font-size: $fontSize_main_title
  font-weight: 300
  color: $col_main_title
  text-align: center
  text-transform: uppercase
  margin: 0px 0px 30px 0px

.main-subtitle
  font-family: $font_KZCenturyGothic
  font-size: $fontSize_main_subtitle
  color: $col_main_subtitle
  text-align: center
  text-transform: lowercase
  margin: 0px 0px 35px 0px

.slogan
  font-family: $font_KZAriston
  font-size: $fontSize_slogan
  color: $col_slogan
  text-align: center
  text-transform: lowercase
  margin: 0px