
.books
  font-size: $fontSize_books
  line-height: $lineHeight_books
  +large-down
    font-size: 20px
    line-height: 24px

  .container
    padding-top: 50px
    padding-bottom: 50px
  .title
    margin-bottom: 20px
  &__descr
    text-align: center
    margin-bottom: 20px

.books-menu
  display: flex
  flex-direction: column
  flex-wrap: wrap
  height: 580px
  width: 100%

  +laptop-down
    display: none
    font-size: 16px
    background: red

  +large-down
    font-size: 18px

.books-menu__item
  margin-left: $width_books_item
  margin-bottom: 15px
  margin-right: 44px
  a
    color: inherit
    position: relative
    line-height: 36px
    &:before
      content: ''
      position: absolute
      left: calc(-#{$width_books_item} - 40px)
      top: 0px
      width: $width_books_item
      height: $height_books_item
      background:
        image: url("../images/icons/icon_book_opened.svg")
        repeat: no-repeat
        size: contain
