.header
  position: fixed
  left: 0px
  top: 0px
  width: 100%
  z-index: 1

  .container
    flex-direction: row
    min-height: 60px

  .logo
    position: absolute
    top: 0px
    left: 0px

  .social-menu
    align-self: center
    margin-left: 70px
    +laptop
      margin-left: 120px

  .search
    position: absolute
    left: 50%
    margin-left: calc(-#{$width_search} / 2)
    +laptop
      margin-left: calc(-#{$width_search_lapt} / 2)

  .lang-menu
    margin-left: auto
    align-self: center


