.history
  .container
    padding-left: 100px
    padding-right: 100px
    padding-bottom: 100px
  .title
    margin-bottom: 60px
  &__info
    margin-right: 25px
  &__info.sec
    margin-right: 0px
    margin-left: 10px
  &__pict
    width: 403px
    min-width: 403px
    height: 607px
    border-radius: 20px
    overflow: hidden
    img
      width: 100%
      height: 100%