@font-face
	font-family: "KZAriston"
	font-style: normal
	font-weight: normal
	src: local('KZ_Ariston'), url("../fonts/KZ_Ariston/KZAriston.woff") format("woff"), url("../fonts/KZ_Ariston/KZAriston.woff2") format("woff2"), url("../fonts/KZ_Ariston/KZAriston.ttf") format("ttf"), url("../fonts/KZ_Ariston/KZAriston.eot") format("eot")

@font-face
	font-family: "KZCenturyGothic"
	font-style: normal
	font-weight: normal
	src: local('KZ_Century_Gothic'), url("../fonts/KZ_Century_Gothic/KZCenturyGothic.woff") format("woff"), url("../fonts/KZ_Century_Gothic/KZCenturyGothic.woff2") format("woff2"), url("../fonts/KZ_Century_Gothic/KZCenturyGothic.ttf") format("ttf"), url("../fonts/KZ_Century_Gothic/KZCenturyGothic.eot") format("eot")

@font-face
	font-family: "KZExo2-Thin"
	font-style: normal
	font-weight: normal
	src: local('KZ_Exo2'), url("../fonts/KZ_Exo2/KZExo2-Thin.woff") format("woff"), url("../fonts/KZ_Exo2/KZExo2-Thin.woff2") format("woff2"), url("../fonts/KZ_Exo2/KZExo2-Thin.ttf") format("ttf"), url("../fonts/KZ_Exo2/KZExo2-Thin.eot") format("eot")

@font-face
	font-family: "KZPFDinTextCompProRegular"
	font-style: normal
	font-weight: normal
	src: local('KZPF_Din_Text_Comp_Pro'), url("../fonts/KZPF_Din_Text_Comp_Pro/KZPFDinTextCompProRegular.woff") format("woff"), url("../fonts/KZPF_Din_Text_Comp_Pro/KZPFDinTextCompProRegular.woff2") format("woff2"), url("../fonts/KZPF_Din_Text_Comp_Pro/KZPFDinTextCompProRegular.ttf") format("ttf"), url("../fonts/KZPF_Din_Text_Comp_Pro/KZPFDinTextCompProRegular.eot") format("eot")
