*
	&:focus, &:active
		outline: none !important

html
	overflow: hidden
	font-size: $fontSize_body

body
	font:
		family: $fontXX
		size: 1rem
		weight: 400
	color: $fontColorMain
	line-height: 1
	//min-width: $bodyMinWidth
	margin: 0
	padding: 0
	height: 100vh
	background-color: $body_bg

a
	text-decoration: none

h1
	font-size: $fontSize_h1
	line-height: $lineHeight_h1

h2
	font-size: $fontSize_h2
	line-height: $lineHeight_h2

.title
	margin: 0px
	color: $grey

.bg--blue
	background-color: $blue-dark

.bg--yellow
	background-color: $yellow

.container
	background-color: transparent

.header
	background-color: transparent

.test
	display: inline-block
	background-color: red
	margin-bottom: 20px auto
	width: 200px
	height: 200px
	border-radius: 20px
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)
	transform: rotate(50deg)
	display: flex
