$fontSizeMain: 16px
$fontXX: 'Times New Roaman', sans-serif
$fontColorMain: rgba(0, 0, 0, 0.8)

$bodybg: #FFFFFF

$blue-light: #4AA7E1
$blue-dark: #1D6390
$yellow: rgba(254, 228, 159, 0.5)


$fontSize_h1: 50px
$lineHeight_h1: 60px

$fontSize_h2: 36px
$lineHeight_h2: 43px

$color_h: #C4C4C4