//general font
$fontSize_body: 30px
$lineHeight_body: 36px

$fontSize_body_mob: 20px
$lineHeight_body_mob: 24px


$font_KZAriston: 'KZAriston', Arial, sans-serif
$font_KZCenturyGothic: 'KZCenturyGothic', Arial, sans-serif
$font_KZExo2_Thin: 'KZExo2-Thin', Arial, sans-serif
$font_KZPFDinTextCompProRegular: 'KZPFDinTextCompProRegular', Arial, sans-serif

$fontColorMain: rgba(0, 0, 0, 0.8)

//general color
$body_bg: #FFFFFF
$blue-light: #4AA7E1
$blue-dark: #1D6390
$yellow: rgba(254, 228, 159, 0.5)
$grey: #C4C4C4
$black: #000000
$white: #FFFFFF
$grey-light: #FFFDFD
$grey1: #C1BFBF

//h1, h2
$fontSize_h1: 50px
$lineHeight_h1: 60px
$fontSize_h1_mob: 36px
$lineHeight_h1_mob: 43px

$fontSize_h2: 36px
$lineHeight_h2: 43px
$fontSize_h2_tab: 30px
$lineHeight_h2_tab: 36px
$fontSize_h2_mob: 24px
$lineHeight_h2_mob: 29px

//menu
$fontSize_menu: 36px
$lineHeight_menu: 43px
$fontSize_menu_mob: 30px
$lineHeight_menu_mob: 36px

$fontSize_menusub: 32px
$lineHeight_menusub: 38px
$fontSize_menusub_mob: 26px
$lineHeight_menusub_mob: 31px

//coments
$fontSize_coment: 24px
$lineHeight_coment: 28px

//search block
$width_search: 350px
$width_search_closed: 40px
$height_search: 34px
$width_search_lapt: 250px
$width_search_ic: 24px
$height_search_ic: 24px
$width_search_ic_mob: 17px
$height_search_ic_mob: 15px
$left_search_ic: 8px

$width_search_lapt: 250px
$height_search_lapt: 28px
$height_search_mob: 25px

//lang menu
$width_lang_item: 36px
$height_lang_item: 30px
$rad_lang: 8px
$fontSize_lang: 24px
$lineHeight_lang: 30px
$borderColor_lang: rgba(255, 255, 255, 0.5)

$shadow_hover: 0px 0px 10px rgba(255, 255, 255, 0.8)
$shadow_text: 0px 0px 15px rgba(255, 255, 255, 0.9)

//logo
$logo_width: 160px
$logo_height: 160px

$logo_width_mob: 90px
$logo_height_mob: 90px

//main title
$fontSize_main_title: 64px
$col_main_title: #000000

$fontSize_main_subtitle: 24px
$col_main_subtitle: #7AC1EE

$fontSize_slogan: 48px
$col_slogan: #A43C20

//books
$fontSize_books: 25px
$lineHeight_books: 30px
$width_books_item: 37px
$height_books_item: 36px

//btn
$btn-fs: 24px
$btn-lh: 29px
$btn-h: 45px
$btn-color: #FFFFFF
$btn-border-width: 0px
$btn-border-rad: 10px

$scrollbar_bg: #92D5FF

$header_cont_pl: 30px
$header_cont_pl_laptop: 38px
$header_cont_pl_mobile: 5px
$header_mob_h: 50px
